---
---

<section class="h-screen relative">
  <div
    class="container flex h-full items-center px-4 mx-auto xl:max-w-screen-xl">
    <h1
      class="text-3xl sm:text-5xl font-bold max-w-2xl leading-[1] text-white uppercase">
      Soluciones integrales en automatización industrial
    </h1>
  </div>

  <div
    class="absolute w-full h-full left-0 pointer-events-none top-0 before:absolute before:w-full before:h-full before:bg-blue-700 before:inset-0 before:opacity-50 before:-z-20">
    <video
      autoplay
      loop
      muted
      class="w-full inset-0 absolute -z-30 h-full object-cover">
      <source src="/hero-video.mp4" />
    </video>
  </div>
</section>
