---
import AboutUsCard from "../components/ui/about-us-card";
import AboutUsCardTitle from "../components/ui/about-us-card-title";
import Header from "../components/ui/header";
import ServiceCard from "../components/ui/service-card";
import ServiceCardTitle from "../components/ui/service-card-title";
import Layout from "../layouts/main-layout.astro";
---

<Layout title="Ingenia Clone | Inicio">
  <!-- header -->
  <Header client:only="react" />

  <main>
    <section class="h-screen relative">
      <div
        class="container flex h-full items-center px-4 mx-auto xl:max-w-screen-xl">
        <h1
          class="text-3xl sm:text-5xl font-bold max-w-2xl leading-[1] text-white uppercase">
          Soluciones integrales en automatización industrial
        </h1>
      </div>
      <div
        class="absolute w-full h-full left-0 pointer-events-none top-0 before:absolute before:w-full before:h-full before:bg-blue-700 before:inset-0 before:opacity-50 before:-z-20">
        <video
          autoplay
          loop
          muted
          class="w-full inset-0 absolute -z-30 h-full object-cover">
          <source src="/hero-video.mp4" />
        </video>
      </div>
    </section>

    <!-- about-us section -->
    <section
      id="acerca-de-nosotros"
      class="grid sm:grid-cols-2 sm:gap-x-4 lg:grid-cols-4 pt-8 sm:pt-4 lg:pt-8 container mx-auto px-4 xl:max-w-screen-xl">
      <AboutUsCard img="/about-us-1.webp" order="sm:order-2 lg:order-1">
        <AboutUsCardTitle>Automatización a un nuevo nivel.</AboutUsCardTitle>
        <p class="mt-4">
          En ingenia buscamos proveer a nuestros clientes soluciones avanzadas
          con lo último en equipos de control, cumpliendo los tiempos de entrega
          y trabajando bajo los principios de óptima calidad.
        </p>
      </AboutUsCard>

      <article
        class="p-8 flex items-center sm:order-1 lg:order-2 sm:col-span-2">
        <div>
          <h2 class="text-4xl leading-[1] font-bold">
            Acerca de nosotros<span class="text-blue-700">.</span>
          </h2>
          <p class="mt-4 text-zinc-500">
            Somos una empresa especializada en el campo de la automatización
            industrial. Desde 1998 proveemos a nuestros clientes soluciones
            integrales e innovadoras, a través de la aplicación de tecnología
            avanzada en automatización, instrumentación, comunicación e
            informática.
          </p>
          <p class="mt-2 text-zinc-500">
            En los 25 años de ingenia, contamos con numerosos proyectos
            ejecutados exitosamente tanto en El Salvador como a nivel
            internacional.
          </p>
          <p class="mt-2 text-zinc-500">
            Como empresa integradora de sistemas de control automático,
            proporcionamos soluciones completas y optimizadas a las necesidades
            de automatización de la industria. El rango de nuestros servicios
            abarca varias áreas, que se entrelazan entre sí para desarrollar
            junto con nuestros clientes los sistemas que resolverán sus
            expectativas y necesidades.
          </p>
        </div>
      </article>

      <AboutUsCard img="/about-us-1.webp" order="sm:order-3 lg:order-3">
        <AboutUsCardTitle>Especialidades tecnológicas.</AboutUsCardTitle>
        <p class="mt-4">
          Entre nuestros servicios especializados se encuentran el control
          automático con PLCs y PACs, control de movimiento, visualización
          mediante HMIs y SCADA, instrumentación, identificación y manejo de
          datos.
        </p>
      </AboutUsCard>
    </section>

    <!-- service section -->
    <section
      id="servicios"
      class="grid container px-4 mx-auto xl:max-w-screen-xl sm:gap-8 pt-8">
      <ServiceCard img="/services-1.webp" alt="">
        <ServiceCardTitle>
          Automatización de procesos y migración de tecnologías
        </ServiceCardTitle>
        <p class="text-zinc-500">
          Contamos con servicio de consultoría, diseño e implementación de
          sistemas de control automático mediante PLCs y PACs con capacidad de
          integración con herramientas de visualización y control como HMIs,
          Panel PCs y SCADA.
        </p>
        <p class="text-zinc-500">
          Nos especializamos también en control de movimiento con accionamientos
          AC, DC y servoasistidos. En caso de poseer sistemas con equipos de
          control obsoletos, contamos con servicio de renovación, actualización,
          migración o sustitución de sistemas.
        </p>
      </ServiceCard>

      <ServiceCard img="/services-2.webp" alt="" isInverted={true}>
        <ServiceCardTitle>
          Soporte y mantenimiento de sistemas de automatización
        </ServiceCardTitle>
        <p class="text-zinc-500">
          Contamos con servicios de mantenimiento preventivo y correctivo para
          sistemas de control automático independiente de la marca o fabricante
          de estos. Para esto contamos con especialistas capaces de analizar el
          sistema de control para buscar fallas tanto a nivel de programa como
          de hardware y comportamiento de las señales eléctricas de sensores y
          actuadores.
        </p>
        <p class="text-zinc-500">
          Envíe sus solicitudes de servicios de ingeniería a{" "}
          <a href="mailto:soporte@ingenia.com.sv" class="text-blue-700">
            soporte@ingenia.com.sv
          </a>
        </p>
      </ServiceCard>

      <ServiceCard img="/services-3.webp" alt="">
        <ServiceCardTitle>
          Integración de dispositivos de diversas tecnologías al sistema
          automatizado
        </ServiceCardTitle>
        <p class="text-zinc-500">
          En el área de integración de sistemas contamos con la capacidad de
          obtener datos de todo tipo de sensores, transmisores y dispositivos de
          identificación como escaners de códigos de barras, RFID y más.
        </p>
        <p class="text-zinc-500">
          Realizamos consultorías para la integración de todo tipo de
          tecnologías con PLCs, HMIs, Panel PCs, SCADA y Bases de Datos.
        </p>
      </ServiceCard>
    </section>
  </main>
</Layout>
