---
import AboutUsSection from "../components/sections/about-us-section.astro";
import ClientsSection from "../components/sections/clients-section.astro";
import ContactSection from "../components/sections/contact-section.astro";
import HeroSection from "../components/sections/hero-section.astro";
import ServicesSection from "../components/sections/services-section.astro";
import Footer from "../components/ui/footer";
import Header from "../components/ui/header";
import Layout from "../layouts/main-layout.astro";
---

<Layout title="Ingenia Clone | Inicio">
  <Header client:only="react" />
  <main>
    <HeroSection />
    <AboutUsSection />
    <ServicesSection />
    <ClientsSection />
    <ContactSection />
  </main>
  <Footer />
</Layout>
