---
import NavbarItem from "./navbar-item.astro";
import MenuIcon from "../icons/menu-icon.astro";
---

<script>
  const $primaryHeader = document.getElementById("primary-header");
  const $scrollWatcher = document.createElement("div");

  $scrollWatcher.setAttribute("data-scroll-watcher", "");
  $primaryHeader?.before($scrollWatcher);

  const navObserver = new IntersectionObserver((entries) => {
    $primaryHeader?.toggleAttribute("data-sticky", !entries[0].isIntersecting);
  });

  navObserver.observe($scrollWatcher);
</script>

<header
  id="primary-header"
  class="fixed top-0 left-0 w-full z-20 backdrop-blur-sm group data-[sticky]:bg-blue-800 transition-colors"
>
  <div
    class="container px-4 py-4 items-center flex justify-between mx-auto xl:max-w-screen-xl"
  >
    <a href="/">
      <img src="/logo.png" alt="" class="h-[32px]" />
    </a>

    <nav class="hidden md:flex items-center gap-4 text-sm">
      <ul class="flex">
        <NavbarItem href="#">Inicio</NavbarItem>
        <NavbarItem href="#acerca-de-nosotros">Acerca de nosotros</NavbarItem>
        <NavbarItem href="#servicios">Servicios</NavbarItem>
        <NavbarItem href="#">Experiencia en la industria</NavbarItem>
      </ul>

      <a
        href="#"
        class="px-4 grid place-items-center uppercase font-semibold bg-blue-800 text-white py-2 rounded group-data-[sticky]:bg-white transition-colors group-data-[sticky]:text-blue-800"
      >
        Contacto
      </a>
    </nav>

    <button class="md:hidden text-white">
      <MenuIcon />
    </button>
  </div>
</header>
