---
interface Props {
  href: string;
  children: string;
}

const { href } = Astro.props;
---

<li class="flex">
  <a
    href={href}
    class="px-2 text-white hover:underline focus-visible:underline"
  >
    <slot />
  </a>
</li>
